body {
	background-color: #CCCCCC;
	font-family: Arial;
}

.header {
	text-align: center;
}

.btn-group {
	position: absolute;
	left: 28%;
}
.btn-group:hover {
	color: red;
}

p { 
	font-size: 16px;
	font-style: Arial;
	width: 500px;
	position: relative;
	left: 30%;
}

h3 {
	text-align: center;
	font-size: 16px;
	font-weight: bold;
}

h6 {
	font-size: 16px;
	position: relative;
	left: 42.6%;
	color: #800000;
}

h5 {
	text-align: center;
	font-weight: bold;
	font-size: 16px;
}

h4 {
	color: #800000;
	position: relative;
	font-weight: bold;
}
.btn-default {
  color: white;
  background-color: #800000;
  border-color: #ccc;
}
.btn-default:hover {
  color: white;
  background-color: #800000;
  border-color: #ccc;
}
